@{
    Layout = "_LayoutLogin";
    ViewBag.Title = "Login";
}
<input type="button" value="Back to Home" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("","Home")';" style="margin:10px 10px 10px 10px;">
<div class="content">
    <div class="container" style="margin-top:-50px;">
        <div class="row">
            <div class="col-md-6">
                @*<img src="~/assets/vendor/Logins/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">*@
                <img src="~/assets/img/account/login1.png" alt="Image" class="img-fluid" />
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Login to Your Account</h3>
                            <p class="mb-4 text-dark">Thanks you for get back to Tentakel, Let Access our the best Serviecs and Solution</p>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group first">
                                <label for="username">Username or email</label>
                                <input type="text" class="form-control" id="username">

                            </div>
                            <div class="form-group last mb-4">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password">

                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0">
                                    <span class="caption">Remember me</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto"><a href="@Url.Action("ForgotPassword")" class="forgot-pass">Forgot Password</a></span>
                            </div>

                            <input type="submit" value="Log In" class="btn btn-block btn-primary">

                            <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>

                            <div class="social-login">
                                <a href="#" class="facebook">
                                    <span class="icon-facebook mr-3"></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class="icon-twitter mr-3"></span>
                                </a>
                                <a href="#" class="google">
                                    <span class="icon-google mr-3"></span>
                                </a>
                            </div>

                        </form>

                        <span class="d-block text-left my-4 text-info"> New to LinkedIn? <a href="@Url.Action("Signup")">Join now</a></span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
 