<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    
                    <div style="margin-top:0px;">
                        <h4 style="font-size:medium;margin-bottom:0px;padding-bottom:0px;">PT. Tentakel Integrasi Indonesia</h4>
                        Rukan Exclusive Radin Inten Kav. 18,<br>
                        Jl. Radin Inten II no. 80 Duren Sawit,<br>
                        Kota Adm. Jakarta Timur, DKI Jakarta<br>
                        <br>
                        <strong>Phone:</strong> +6281617233847<br>
                        <strong>Email:</strong> tentakelintegrasi@gmail.com<br>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Tentakel Studio</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="#">Tentakel Studio</a>
        </div>
    </div>
</footer><!-- End Footer -->
