<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <h2>Who We Are</h2>
            <p style="text-align:justify;">
                Tentakel Integrasi Indonesia (PT) merupakan Perusahaan yang bergerak dalam bidang IT (Informasi Teknologi) yang
                menikberatkan pada Integrasi bisnis kedalam bentuk digital. Tentakel dapat berkolaborasi dalam semua lini bisnis yang
                berorientasi pada percepatan, efisiensi, mobilitas, akurasi data dan
                pengambilan keputusan.

                Pengkonversian bisnis dalam bentuk sistem yang terdigitalisasi
                membutuhkan tahap proses konsultasi, perancangan Business
                Process, pembuatan solusi dan pengembangan sistem terintegrasi
                serta penerapan SOP dalam pengaplikasian sistem pada sebuah
                Business Process. Dengan mengedepankan aspek kolaborasi,
                Tentakel membuka diri dalam segala aspek yang dapat membuat
                kami dan partner berkembang dalam mencapai tujuan bersama.
            </p>
            <h2>
                Our
                inspiration
                starts here
            </h2>
            <p style="text-align:justify;">
                Tentakel memiliki slogan “You dreams it, We realize it” apapun ide
                yang anda pikirkan atau masalah yang anda risaukan, maka kami
                dapat mewujudkan ide anda dan mencari solusi dari masalah anda.
            </p>

        </div>

    </div>
</section>
<!-- End About Us Section -->