<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Our Services</h2>
            <p>
                Refers to the application of business and technical expertise to enable organizations in the
                creation, management and optimization of or access to information and business processes. The
                IT services market can be segmented by the type of skills that are employed to deliver the service
                (design, build, run).
            </p>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Integration System Solution</a></h4>
                    <p>
                        Sebuah bisnis tentu memiliki sekelumit permasalahan terutama
                        pada aspek operasional dan keuangan. Dengan diterapkannya
                        sistem terintegrasi akan membuat bisnis anda mudah dikontrol,
                        lebih efisien, dan mempermudah pengambilan keputusan yang
                        tepat. Kami memberikan solusi terbaik dalam pengembangan
                        So
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Security Management System</a></h4>
                    <p>
                        Keamanan dalam segala aspek sangat menentukan efiensi dan
                        kelancaran operasional dan keuangan. Kedua aspek ini sangat
                        rentan terhadap pencurian, penyalahgunaan wewenang,
                        korupsi, penyeludupan dan bentuk kejahatan lainnya. Dengan
                        diterapkannya Security Management System, dapat
                        meminimalisir resiko kerugian pada laju bisnis anda.
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Konsultasi IT</a></h4>
                    <p>
                        Kami sangat terbuka atas permasalahan - permasalahan dalam
                        proses bisnis yang rumit, dan menjadikan nya lebih sederhana,
                        efek
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">Hardware IT Supplier</a></h4>
                    <p>
                        Dalam pengembangan sistem yang terintegrasi akan dibutuhkan
                        dua komponen pendukung yaitu So
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Resources</a></h4>
                    <p>
                        You do not need to hire an IT Manager we are the perfect answer to meet your resource needs.
                        Our trained personnel will help you to deal with all the problems in your business. You can save
                        the cost of recruiting a team to the cost of one expert staff. just leave it to us all.
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Digital Marketing</a></h4>
                    <p>
                        Digital marketing is the component of marketing that
                        uses internet and online based digital technologies
                        such as desktop computers, mobile phones and other
                        digital media and platforms to promote products and
                        services. Its development during the 1990s and 2000s
                        changed the way brands and businesses use technology for marketing.
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Multimedia</a></h4>
                    <p>
                        Multimedia design is the art of integrating various
                        forms of media. It is used in video games, information
                        kiosks, websites, and many other interactive applications. Multimedia design can be found in a growing
                        number of industries, from advertising agencies Madison Avenue to Hollywood production companies.
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">Training & Support</a></h4>
                    <p>
                        Dalam mempermudah kolaborasi “Business to Business” yang
                        diterapkan, pengadaan training dalam bentuk workshop, kursus
                        ataupun undangan seminar akan sangat memungkinkan jika
                        dalam kolaborasi bisnis antar perusahaan telah disepaka.
                        Dengan ini Kami menggandeng pelanggan sebagai mitra bisnis
                        terbaik Kami.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
