<!-- ======= Team Section ======= -->
<section id="product" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Our Solution</h2>
            <p>
                We know technology staffing and understand our client’s needs. We translate your requirements into the right people. 
                We are able to deliver professionals within the entire technology space. 
                We want to understand your needs in order to introduce you to the best match for your requirements. 
                Our goal is to filter the many technology staffing candidates that could be a fit with your role to the few great candidates that do fit and then it is your decision which fits your team best.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                    <div class=""><img src="~/assets/img/product/eticket.jpg" class="img-fluid" alt="" width="200" height="200"></div>
                    <div class="member-info">
                        <h4>
                            e-Ticketing
                        </h4>
                        <span>Electronic Ticketing System</span>
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <div class=""><img src="~/assets/img/product/ekiosk.jpg" class="img-fluid" alt="" width="200" height="200"></div>
                    <div class="member-info">
                        <h4>
                            e-Kiosk
                        </h4>
                        <span>
                            Self Services & Vending Machine
                        </span>
                        
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <div class=""><img src="~/assets/img/product/ewats.jpg" class="img-fluid" alt="" width="180" height="180"></div>
                    <div class="member-info">
                        <h4>
                            e-Wats
                        </h4>
                        <span>
                            Electronic Waterpark
                            System
                        </span>
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                    <div class=""><img src="~/assets/img/product/manufacturing.jpg" class="img-fluid" alt="" width="200" height="200"></div>
                    <div class="member-info">
                        <h4>
                            MSS
                        </h4>
                        <span>
                            Manufacturing Security System
                        </span>
                        
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <div class=""><img src="~/assets/img/product/locker.jpg" class="img-fluid" alt="" width="170" height="170"></div>
                    <div class="member-info">
                        <h4>
                            e-Locker
                        </h4>
                        <span>
                            Locker Solution
                        </span>
                        
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <div class=""><img src="~/assets/img/product/vms.jpg" class="img-fluid" alt="" width="200" height="200"></div>
                    <div class="member-info">
                        <h4>
                            VMS
                        </h4>
                        <span>
                            Visitor Management System
                        </span>
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                    <div class=""><img src="~/assets/img/product/parkir.jpg" class="img-fluid" alt="" width="200" height="200"></div>
                    <div class="member-info">
                        <h4>
                            PMS
                        </h4>
                        <span>
                            Parkir Management System
                        </span>
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <div class=""><img src="~/assets/img/product/door.jpg" class="img-fluid" alt="" width="200" height="200"></div>
                    <div class="member-info">
                        <h4>
                            e-Door
                        </h4>
                        <span>
                            Door Management
                        </span>
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <div class=""><img src="~/assets/img/product/Hotel.jpg" class="img-fluid" alt="" width="200" height="200"></div>
                    <div class="member-info">
                        <h4>
                            HMS
                        </h4>
                        <span>
                            Hotel Management System
                        </span>
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                    <div class=""><img src="~/assets/img/product/OSCS.jpg" class="img-fluid" alt="" width="170" height="170"></div>
                    <div class="member-info">
                        <h4>
                            OSCS
                        </h4>
                        <span>
                            One Smart Card Soluon
                        </span>
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <div class=""><img src="~/assets/img/product/bioface.jpg" class="img-fluid" alt="" width="200" height="200"></div>
                    <div class="member-info">
                        <h4>
                            BRM
                        </h4>
                        <span>
                            Bioface Realtime Monitoring
                        </span>
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                    <div class=""><img src="~/assets/img/product/SolutionforMansion.jpg" class="img-fluid" alt="" width="165" height="165"></div>
                    <div class="member-info">
                        <h4>
                            e-Mansion
                        </h4>
                        <span>
                            Solution for Mansion
                        </span>
                        
                        <div class="social">
                            <a href="" data-toggle="tooltip" title="Catalog"><i class="ri-file-pdf-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-youtube-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="whatsapp"><i class="ri-whatsapp-fill"></i></a>
                            <a href="" data-toggle="tooltip" title="youtube"><i class="ri-phone-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Team Section -->