@{
    ViewData["Title"] = "Tentakel";
}


<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Better Solutions For Your Business</h1>
                <h2>
                    Imagine the convenience
                    Modern Technology
                    & New ideas
                </h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    @await Html.PartialAsync("_About")
    @await Html.PartialAsync("_Services")
    @await Html.PartialAsync("_WhyUs")
    @await Html.PartialAsync("_Skill")
    @await Html.PartialAsync("_CalltoAction")
    @*@await Html.PartialAsync("_Portofolio")*@
    @await Html.PartialAsync("_Team")
    @*@await Html.PartialAsync("_Pricing")*@
    @*@await Html.PartialAsync("_Faq")*@
    @await Html.PartialAsync("_ContactUs")
    @await Html.PartialAsync("_Client")
</main><!-- End #main -->